@import "bourbon";
@import "normalize.css";

/*-------------------------
	Variables
--------------------------*/

$main: white;
$programming: #77ce9a;
$mechanical: #d293cd;
$design: #6ac7de;

$dark-grey: #333333;
$black-10: rgba(0,0,0,0.1);
$black-30: rgba(0,0,0,0.3);
$black-70: rgba(0,0,0,0.7);

$base-font-size: 16px;
$base-font-colour: $dark-grey;

$main-footer-height: 80px;
$main-chevron-gap: 80px;
$about-gap: 50px;
$me-picture-dimension: 150px;
$about-button-width: 200px;
$thin-margin: 2px;
$work-preview-height: 200px;

$modal-stripe-height: 60px;
$modal-picture-width: 450px;

$min-width: 800px;

/*-------------------------
	Mixins
--------------------------*/

@mixin button ($basecolor, $inverted) {
	text-align: center;
	width: 250px;
	padding: 20px 0;
	text-transform: uppercase;
	border: 1px solid white;
	@if $inverted {
		background-color: white;
    	color: $basecolor;
    } @else {
	    background-color: $basecolor;
	    color: white;
    }
}

/*-------------------------
	General Styles
--------------------------*/

* {
	@include box-sizing(border-box);
	margin: 0;
}

html, body, ul, ol {
  	margin: 0;
  	padding: 0;
}

html, body {
	height: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

ul {
	list-style: none;
}

body {
	color: $base-font-colour;
  	font-family: $helvetica;
	font-size: $base-font-size;
	text-align: center;
  	text-decoration: none;
  	float: left;
    min-width: 100%;
}

a {
	text-decoration: none;
}

.table {display: table;}
.row   {display: table-row;}
.cell  {display: table-cell;}

/* Mozilla based browsers */
::-moz-selection {
       background-color: $dark-grey;
       color: #FFF;
}

/* Works in Safari */
::selection {
       background-color: $black-30;
       color: #FFF;
}

.programming-background {
	background: $programming;
}

.mechanical-background {
	background: $mechanical;
}

.design-background {
	background: $design;
}

.title-text {
	font-weight: bold;
	font-size: 20px;
	color: white;
}

.body-text {
	font-size: 14px;
	font-weight: 400;
	color: white;
}

/*-------------------------
	Main Styles
--------------------------*/

#main-table {
	position: relative;
    width: 100%;
    height: 100%;
    min-width: $min-width;
    min-height: 100% !important;
}

#main-cell-logo {
	vertical-align: middle;
	text-align: center;
	padding: (50+$main-chevron-gap) 50px 50px 50px;
}

#logo {
	background: url('../res/vector/logo.svg');
	background-size: contain; 
	background-repeat: no-repeat;
	text-indent: -9999px;
	width: 154px;
	height: 120px;
	display: inline-block;
}

#main-row-chevron {
	height: $main-chevron-gap;
}

#chevron {
	background: url('../res/vector/chevron.svg');
	background-size: contain; 
	background-repeat: no-repeat;
	text-indent: -9999px;
	width: 50px;
	height: 26px;
	display: inline-block;
}

#main-row-footer {
	height: $main-footer-height;
}

#main-three-sections {
	white-space: nowrap;

	li {
		display: inline-block;
		width: 33.33%; width: calc(100%/3);
		min-width: 300px !important;
		padding-right: $thin-margin;
		
		&:last-child {
			padding-right: 0;
		}
	}
}

#header-design-container {
	width: 35px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
}

#header-design-icon {
	position: absolute;
	left: 5px;
	top: ($main-footer-height/2) - 14px;
	background: url('../res/vector/header_design.svg');
	background-size: contain; 
	background-repeat: no-repeat;
	text-indent: -9999px;
	width: 23px;
	height: 28px;
}

#header-design-addition-arc {
	position: absolute;
	left: 0;
	bottom: ($main-footer-height/2) - 14px;
	background: url('../res/vector/paint_arc.svg');
	background-size: contain; 
	background-repeat: no-repeat;
	text-indent: -9999px;
	width: 14px;
	height: 28px;
}

#header-design-addition-mask {
	position: absolute;
	left: -15px;
	bottom: ($main-footer-height/2) - 5px;
	background: $dark-grey;
	width: 40px;
	height: 40px;
	transform: rotate(45deg);
}




#header-mechanical-container {
	width: 30px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

#header-mechanical-icon {
	position: absolute;
	left: 0;
	top: ($main-footer-height/2) - 15px;
	background: url('../res/vector/header_mechanical.svg');
	background-size: contain; 
	background-repeat: no-repeat;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
}

#header-mechanical-addition-square {
	position: absolute;
	left: 12px;
	top: ($main-footer-height/2) + 10px;
	background: white;
	width: 10px;
	height: 10px;
}

#header-mechanical-addition-line {
	position: absolute;
	left: 16px;
	top: ($main-footer-height/2);
	background: white;
	width: 2px;
	height: 10px;
}




#header-programming-container {
	width: 30px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

#header-programming-icon {
	position: absolute;
	left: 0;
	top: ($main-footer-height/2) - 16px;
	background: url('../res/vector/header_programming.svg');
	background-size: contain; 
	background-repeat: no-repeat;
	text-indent: -9999px;
	width: 18px;
	height: 32px;
}

#header-programming-addition-text {
	position: absolute;
	left: 5px;
	top: -50px;
	width: 6px;
	height: 388px;
	background: url('../res/vector/binary.svg');
	background-size: contain; 
	background-repeat: no-repeat;
	text-indent: -9999px;
}

#header-programming-addition-scroller {
	position: absolute;
	left: 1px;
	top: ($main-footer-height/2) - 12px;
	width: 16px;
	height: 22px;
	overflow: hidden;
}


.title {
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	margin-right: 10px;
}

.title-box {
	position: relative;
	text-align: center;
	height: 100%;
	line-height: ($main-footer-height - 3px); /* correcting for the 5px bar below */
}

.bottom-stripe {
	width: 100%;
	height: 5px;
	position: absolute;
	bottom: 0;
}

.grey-box {
	position: relative;
	background: $dark-grey;
	height: $main-footer-height;
}

/*-------------------------
	About Styles
--------------------------*/

#about-backing {
	position: relative;
	min-width: $min-width !important;
	width: 100%;
	background: $dark-grey;
	height: auto;
	padding: $about-gap;
	
}

#me {
	display: inline-block;
	width: $me-picture-dimension;
	height: $me-picture-dimension;
	border: 5px solid $black-30;
	vertical-align: top;
}

#about-text-block {
	display: inline-block;
	margin-left: 10px;
	width: 300px;
	height: $me-picture-dimension;
	vertical-align: top;
	text-align: left;
	position: relative;
}

#about-left-block {
	float: left;
	height: auto;
}

#about-right-block {
	float: right;
	height: auto;
	
	li {
		margin-bottom: 5px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}

#about-body {
	margin-top: 20px;
}

#about-copyright {
	position: absolute;
	bottom: 0;
	opacity: 0.3;
}

#about-rectangles {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
	
	ul {
		white-space: nowrap;
	}
	
	li {
		display: inline-block;
		vertical-align: bottom;
		width: 25px;
		margin-right: 20px;
		height: 5px;
		
		&:last-child {
			margin-right: 0;
		}
	}
}

.black-button {
	background: $black-30;
	width: $about-button-width;
	padding: 20px 0;
	font-weight: 500;
	font-size: 14px;
	color: white;
	
	&:hover {
		background: black;
	}
}

/*-------------------------
	Content Styles
--------------------------*/

#content-backing {
	position: relative;
	margin-top: $thin-margin;
	width: 100%;
	height: auto;
}

#content-rows {
	li {
		padding-bottom: 1px;
	
		&:last-child {
			padding-bottom: 10px;
		}
	}
}

.work-row {
	ul {
		white-space: nowrap;
	}
	
	li {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		height: $work-preview-height;
		width: 33.33%; width: calc(100%/3);
		padding-bottom: $thin-margin;
		padding-right: $thin-margin;
		
		&:last-child {
			padding-right: 0;
		}
	}
}

.work-piece {
	position: relative;
	width: 100%;
	height: 100%;
	
	&:hover {
		background: none;
	}
}

.work-image {
	position: relative;
	width: 100%;
	height: 100%;
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 100%;
	opacity: 0.75;
	
	&:hover {
		opacity: 1.0;
	}
}

#work-programming-1 {
	background-image: url("../res/raster/programming1.png");
}

#work-programming-2 {
	background-image: url("../res/raster/programming2.png");
}

#work-programming-3 {
	background-image: url("../res/raster/programming3.png");
}

#work-mechanical-1 {
	background-image: url("../res/raster/mechanical1.png");
}

#work-mechanical-2 {
	background-image: url("../res/raster/mechanical2.png");
}

#work-mechanical-3 {
	background-image: url("../res/raster/mechanical3.png");
}

#work-design-1 {
	background-image: url("../res/raster/design1.png");
}

#work-design-2 {
	background-image: url("../res/raster/design2.png");
}

#work-design-3 {
	background-image: url("../res/raster/design3.png");
}

.work-preview-box {
	position: relative;
	width: 100%;
	height: 100%;
}

.work-title {
	position: relative;
	width: 100%;
	height: 100%;
	line-height: $work-preview-height;
	opacity: 0;
	background: none;
	
	&:hover {
		background: $black-70;
		opacity: 1.0;
	}
}

#work-display-backing {
	position: absolute;
	-webkit-backface-visibility: hidden;
	-webkit-transition: translate3d(0,0,0);
	width: 0;
	height: 0;
	min-width: $min-width;
}

/* modal page styles */

.modal-title-stripe {
	position: relative;
	width: 100%;
	height: $modal-stripe-height;
	margin-top: 20px;
	padding: 0 20px;
	background: $black-30;
	min-width: 600px; /* buffer for some title space */
}

.modal-top-row {
	width: 100%;
	height: auto;
}

.modal-bottom-row {
	width: 100%;
	height: 100%;
}

.modal-close-button {
	position: relative;
	margin-top: ($modal-stripe-height/2 - 15px);
	width: 30px;
	height: 30px;
	float: right;
	background: url('../res/vector/close.svg');
	background-size: contain; 
	background-repeat: no-repeat;
	text-indent: -9999px;
}

.modal-title {
	position: relative;
	width: auto;
	height: auto;
	float: left;
	font-weight: 500;
	font-size: 32px;
	color: white;
	line-height: $modal-stripe-height;
}

.modal-background-decoration {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: ($work-preview-height * 3 - $thin-margin);
	text-align: right;
	overflow: hidden;
	
	img {
		width: auto;
		height: 100%;
	}
}

.modal-body-box {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 20px;
}

.modal-body-left {
	position: relative;
	vertical-align: middle;
	text-align: center;
	height: 100%;
	width: auto;
	
	img {
		position: relative;
		max-height: ($work-preview-height * 3 - $thin-margin - 60 - $modal-stripe-height);
		max-width: $modal-picture-width;
	}
}

.modal-body-right {
	position: relative;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}

.modal-body-bg {
	position: relative;
	padding: 20px;
	margin-left: 20px;
	text-align: left;
	background: $black-30;
}

.modal-text-title {
	margin-bottom: 20px;
}

.modal-text-body {
	margin-bottom: 10px;
	
	&:last-child {
		margin-bottom: 0;
	}
}

.modal-wrapper-table {
	position: absolute;
	width: 100%;
	height: ($work-preview-height * 3 - $thin-margin);
}
